<template>
    <div class="container-fluid py-5" style="width: 85vw;">
        <div class="row">
            <div class="col col-xl-3 col-lg-4 col-md-6 card-group" v-for="item of listCollection">
                <CollectionCard :collection="item" />
            </div>
        </div>
    </div>
</template>


<script setup lang="ts">
import type { Collection } from '@/entities';
import { fetchAllCollections } from '@/service';
import { onMounted, ref } from 'vue';
import CollectionCard from '@/components/CollectionCard.vue'


const listCollection = ref<Collection[]>([]);

onMounted(async () => {
    listCollection.value = await fetchAllCollections();
})

</script>

