<script setup lang="ts">
import CollectionComponentVue from '@/components/CollectionCard.vue';




</script>

<template>
  <div>
    <h1>Mon blog</h1>
    <p>Bienvenue dans mon monde couture, où chaque fil et chaque coupe de tissu racontent une histoire unique. Ce blog est
      mon atelier virtuel, un espace où je partage mes créations, mes inspirations et mes astuces. Que vous soyez novice
      ou expert, vous trouverez ici des conseils pratiques et des idées pour nourrir votre passion pour la couture.
      Plongez dans cet univers où chaque point est une promesse de style et d'expression personnelle.</p>
    </div>
    <button>
      <router-link to="/collection">découvrir</router-link>
    </button>


  </template>

<style scoped>

h1{
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  
}
p{
font-size:14px ;
font-style: italic;
}

button {
  font-size: 16px;
  padding: 10px;
}
</style>