<template>
    <div class="container">
        <div class="collec">

            <h2>{{ collection?.name }}</h2>
            <img :src="collection?.image">
            <p>{{ collection?.description }}</p>
        </div>
    </div>
</template>

<script setup lang="ts">
import type { Collection } from '@/entities';
import { fetchOneCollection } from '@/service';
import { ref, watch } from 'vue';
import { useRoute } from 'vue-router';


const collection = ref<Collection>();

const route = useRoute()

watch(() => route.params.id, async () => {
    collection.value = await fetchOneCollection(route.params.id)
}, { immediate: true });

</script>

<style scoped>
.collec{
    background-color: white;
    border-radius: 5px;
    border: .2px solid black;
    padding: 40px;

    display: flex;
    flex-direction: column;
}

.collec img{
border-radius: 3px;
border: .2px solid black;
box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.28);

}



</style>