<script setup lang="ts">
import type { Collection } from '@/entities';

defineProps<{
    collection: Collection
}>();

</script>

<template>

    <div class="card my-2" style="width: 18rem;">
        <img :src="collection.image" class="card-img-top" height="250px">
        <div class="card-body">
            <h5 class="card-title">{{ collection.name }}</h5>
            <p class="card-text content">{{ collection.description }}</p>
            <router-link :to="'/collection/'+collection.id" class="btn btn-primary">See more</router-link>
        </div>
    </div>
</template>

<style scoped>
img {
    object-fit: cover;
}

.content{
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;

}


</style>