<template>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <RouterLink class="navbar-brand" to="/">
                    <img src="/icons8-bobine-64.png" alt="Logo" width="30" class="d-inline-block align-text-top">
                </RouterLink>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <RouterLink to="/"  aria-current="page" class="nav-link active">Home</RouterLink>
                        </li>
                        <li class="nav-item">
                            <RouterLink to="/collections"  aria-current="page" class="nav-link">Collection</RouterLink>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    </header>
</template>

<style scoped></style>