<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HeaderCom from './components/HeaderCom.vue';
</script>

<template>
  <HeaderCom />
  <RouterView />
</template>

<style>
body {
  background-color: bisque;
}
</style>
